.RichEditor-editor {
  border: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
}

.RichEditor-controls {
  margin-bottom: 5px;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-styleButton.RichEditor-activeButton {
  color: black;
}

.RichEditor-button {
  background-color: lightblue;
  display: inline-block;
  border-radius: 5px;
  border: none;
  outline: none;
}

.RichEditor-readOnlyButton {
  background-color: palegreen;
  display: inline-block;
  border-radius: 5px;
  border: none;
  outline: none;
}

.RichEditor-readOnlyButton-active {
  background-color: indianred;
  display: inline-block;
  border-radius: 5px;
  border: none;
  outline: none;
}
